<template>
  <SfFooter
    :column="column"
    :multiple="multiple"
    :open="open"
    class="sb-footer"
  >
    <SfFooterColumn
      v-for="column in columns"
      :key="column.title"
      :title="column.title"
    >
      <SfList v-if="column.items">
        <SfListItem v-for="item in column.items" :key="item">
          <SfMenuItem :label="item" />
        </SfListItem>
      </SfList>
      <div v-else class="sb-footer__social">
        <SfImage
          v-for="picture in column.pictures"
          :key="picture"
          width="12"
          height="12"
          :src="'https://storybook.storefrontui.io/assets/storybook/SfFooter/' + picture + '.svg'"
          class="sb-social-icon"
        />
      </div>
    </SfFooterColumn>
  </SfFooter>
</template>
<script>
import { SfFooter } from "@storefront-ui/vue";
import { SfList } from "@storefront-ui/vue";
import { SfImage } from "@storefront-ui/vue";
import { SfMenuItem } from "@storefront-ui/vue";

export default {
  components: {
    SfFooter,
    SfList,
    SfImage,
    SfMenuItem,
  },
  data() {
    return {
      columns: [
        {
          title: "About us",
          items: ["Who we are", "Quality in the details", "Customer Reviews"],
        },
        {
          title: "Departments",
          items: ["Women fashion", "Men fashion", "Kidswear", "Home"],
        },
        {
          title: "Help",
          items: ["Customer service", "Size guide", "Contact us"],
        },
        { title: "Payment & delivery", items: ["Purchase terms", "Guarantee"] },
        {
          title: "Social",
          pictures: ["facebook", "pinterest", "twitter", "youtube"],
        },
      ],
      column: 4,
      multiple: false,
      open: [],
    };
  },
};
</script>

<style scoped>
.sb-social-icon {
  margin-right: 10px;
}
</style>