<template>
  <div>
    <SfHeader
      class="hideOnMobile"
      :title="title"
      :logo="logo"
      :is-sticky="true"
      :active-icon="isUserAnonymous ? '':'account'"
      @click:cart="$router.push({name:'cart'})"
      @click:wishlist="$router.push({ name: 'favorites' })"
      @click:account="$router.push({ name: 'account' })"
    >
      <template #search><div style="display:none;"></div></template>
      <template #navigation>
        <SfHeaderNavigationItem v-for="item in navigation" :key="item.name">
          <template slot="desktop-navigation-item">
            <router-link :to="item.path">{{ item.name }}</router-link>
          </template>
        </SfHeaderNavigationItem>
      </template>
    </SfHeader>
    <header id="mobileHeader" class="hideOnDesktop">
      <SfIcon
        :icon="'menu'"
        size="2.75rem"
        style="margin: 5.5px 20px 0 0; position: fixed"
        @click="$emit('triggerSidebar')"
      />
      <img :src="logo.mobile.url" @click="$router.push({ name:'home'})" />
    </header>
  </div>
</template>
<script>
import { SfHeader, SfIcon } from "@storefront-ui/vue";
import { mapGetters } from "vuex";

export default {
  components: {
    SfHeader,
    SfIcon,
  },
  computed: {
    ...mapGetters(["isUserAnonymous"]),
  },
  data() {
    return {
      navigation: [
        {
          name: "men",
          path: "/browse/men?specs[]=4",
        },
        {
          name: "women",
          path: "/browse/women?specs[]=5",
        },
        {
          name: "about",
          path: "/about",
        },
      ],
      title: "Wrist Crown Watches",
      logo: {
        mobile: { url: require("@/assets/watch-logo.png") },
        desktop: { url: require("@/assets/logo-header.svg") },
      }
    };
  },
  methods: {
  },
};
</script>

<style scoped>
#mobileHeader {
  position: fixed;
  display: flex;
  min-height: 55px;
  min-width: 100%;
  background-color: #fff;
  z-index: 10;
}

#mobileHeader > img {
  position: absolute;
  left: 50%;
  top: 11.5px;
  transform: translate3d(-50%, 0, 0);
}
</style>
