<template>
  <SfSidebar :visible="sideBar.isOpen" @close="sideBar.isOpen = false" :title="title">

  </SfSidebar>
</template>

<script>
import { SfSidebar } from "@storefront-ui/vue";

export default {
  components: {
    SfSidebar,
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      title: "Panel",
      sideBar: {
        isOpen: false,
      },
    };
  },
  watch: {
      isOpen(val) {
          this.sideBar.isOpen = val;
      }
  }
};
</script>