<template>
  <el-container v-loading="loadingState">
    <Header @triggerSidebar="triggerSidebar" />
    <el-main id="main-container">
      <router-view />
    </el-main>
    <el-footer>
      <Footer id="mainFooter" />
    </el-footer>
    <SfBottomNavigation class="hideOnDesktop">
      <router-link :to="{ name: 'home' }" class="noDecoration">
        <SfBottomNavigationItem label="Home" icon="home" />
      </router-link>
      <router-link :to="{ name: 'favorites' }" class="noDecoration">
        <template v-if="wishListCount">
          <el-badge :value="wishListCount" class="item">
            <SfBottomNavigationItem label="Favorites" icon="heart" />
          </el-badge>
        </template>
        <template v-else>
          <SfBottomNavigationItem label="Favorites" icon="heart" />
        </template>
      </router-link>
      <router-link :to="{ name: 'cart' }" class="noDecoration">
        <template v-if="basketCount">
          <el-badge :value="basketCount" class="item">
            <SfBottomNavigationItem label="Cart" icon="empty_cart" />
          </el-badge>
        </template>
        <template v-else>
          <SfBottomNavigationItem label="Cart" icon="empty_cart" />
        </template>
      </router-link>
    </SfBottomNavigation>
    <LeftSidebar
      id="mobileSidebar"
      class="hideOnDesktop"
      :isOpen="mobileSidebar.isOpen"
    />
  </el-container>
</template>

<script>
import { SfBottomNavigation } from "@storefront-ui/vue";
import Header from "@/components/misc/Header.vue";
import Footer from "@/components/misc/Footer.vue";
import LeftSidebar from "@/components/misc/LeftSidebar.vue";
import { mapGetters, mapMutations } from "vuex";

export default {
  name: "app",
  components: {
    SfBottomNavigation,
    Header,
    Footer,
    LeftSidebar,
  },
  data() {
    return {
      mobileSidebar: {
        isOpen: false,
      },
    };
  },
  computed: {
    ...mapGetters(["loadingState", "basketCount", "wishListCount"]),
  },
  methods: {
    ...mapMutations(["SET_LOADING", "SET_WAITME", "LOGIN"]),
    triggerSidebar() {
      this.mobileSidebar.isOpen = !this.mobileSidebar.isOpen;
    },
  },
  created() {
    let vue = this;
    let token = localStorage.getItem("auth_token");
    if (token) {
      vue.SET_LOADING(true);
      vue.SET_WAITME(true);
      window.QM.post("user-details")
        .then((res) => {
          let data = res.data;
          data["token"] = token;
          vue.LOGIN(data);
          vue.SET_LOADING(false);
          vue.SET_WAITME(false);
        })
        .catch(() => {
          localStorage.removeItem("auth_token");
          vue.SET_LOADING(false);
          vue.SET_WAITME(false);
        });
    }
  },
};
</script>

<style>
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#main-container {
  background-color: rgb(242, 242, 242);
}

.sf-header__wrapper {
  z-index: 10;
}

/* for desktop */
@media only screen and (min-width: 1024px) {
  .hideOnDesktop {
    display: none !important;
  }
  #main-container {
    padding-top: 5rem;
  }
}
/* for mobile */
@media only screen and (max-width: 1024px) {
  .hideOnMobile {
    display: none !important;
  }
  #mainFooter {
    margin-bottom: 60px;
  }
  #mobileSidebar {
    z-index: 11;
  }
  #main-container {
    padding-top: 4rem;
  }
}

.noDecoration {
  text-decoration: none;
}
</style>
