<template>
  <div>
    <span>{{ filter.name }}</span>
    <br />
    <template v-for="(s, i) in specifications">
      <el-checkbox :key="'specID-' + i" v-model="params" :label="i">{{ s }}</el-checkbox>
      <br :key="'specBrID-' + i" />
    </template>
  </div>
</template>

<script>
export default {
  props: {
    filter: {
      type: Object,
    },
    specifications: {
      type: Object,
    },
    selectedSpecs: {
      type: Array
    }
  },
  data() {
    let self = this;
    // bizə lazım olan filterin spec-lərini deault kimi götürürk. Digərlərinə ehtiyac yoxdur
    let defaults = this.selectedSpecs.filter(s => self.specifications[s]);


    return {
      params: defaults
    }
  },
  watch: {
    params(val, oldVal) {
      let self = this;
      if(val.length > 0) self.$emit('clickFilter', {
        action: 'add',
        spec_id: val[0],
      });
      else self.$emit('clickFilter', {
        action: 'remove',
        spec_id: oldVal[0],
      });
    }
  },
  mounted() {
    // this.params = this.selectedSpecs;
  },
};
</script>

<style scoped>
span {
  font-weight: 600;
}
</style>
