<template>
  <SfTabs id="productTabs" :open-tab="openTab">
    <SfTab :title="'About'" style="padding: 0">
      <el-table :data="specifications" style="width: 100%">
        <el-table-column prop="filter" label="Specification" width="180">
        </el-table-column>
        <el-table-column prop="item" label="Type" width="180">
        </el-table-column>
      </el-table>
    </SfTab>
    <!-- <SfTab :title="'Reviews'">
      <SfReview
        v-for="i in 4"
        :key="'review' + i"
        :author="'Nijat Khalid'"
        :date="'April 2020'"
        :message="'I was looking for a bright light for the kitchen but wanted some item more modern than a strip light. this one is perfect, very bright and looks great. I can comment on interlation as I had an electrition instal it. Would recommend.'"
        :rating="4"
        :char-limit="200"
        style="max-width: 100%"
      />
    </SfTab> -->
  </SfTabs>
</template>

<script>
import { SfTabs } from "@storefront-ui/vue";

export default {
  components: {
    SfTabs,
  },
  props: {
    openTab: {
      default: 1,
      type: Number,
    },
    specifications: {
        type: Array,
      }
  },
};
</script>


<style>
#productTabs .sf-tabs__content {
  max-height: 300px;
  overflow-x: auto;
}

#productTabs .sf-tabs__content__tab {
  padding-top: 1rem;
}
</style>