<template>
  <h1>account</h1>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  computed: {
    ...mapGetters(["isUserAnonymous"]),
  },
  mounted() {
      if (this.isUserAnonymous) {
          this.$router.push({name:'login'})
          return;
      }
  },
};
</script>