<template>
  <div>
    <el-row class="mainRowDesktop hideOnMobile">
      <el-col :span="4">
        <template v-if="showFilters">
          <Filters
            v-for="(filter, f_id) in filters"
            :key="'filterID-' + f_id"
            :filter="{ name: filter.name }"
            :specifications="filter.specifications"
            :selectedSpecs="defaultSpecs"
            style="margin-bottom: 2rem"
            @clickFilter="clickFilter"
          />
        </template>
      </el-col>
      <el-col :span="20">
        <SfNotification
          style="margin-bottom: 1rem"
          v-if="showError"
          visible
          message="An unknown error has occured. Please reflesh the page."
          type="danger"
        />
        <el-row>
          <el-col :span="24" style="display: grid; justify-content: right">
            <el-dropdown @command="selectSorting">
              <span class="el-dropdown-link">
                Sort by<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item
                  v-for="(val, key) in sorting.list"
                  :key="'sortKeyDesktop-' + key"
                  :command="key"
                >
                  {{ val }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </el-col>
        </el-row>
        <el-divider></el-divider>
        <el-row>
          <el-col
            :span="6"
            v-for="product in products"
            :key="'col-' + product.id"
            class="productColumn"
          >
            <SfProductCard
              :image="product.thumbnail"
              :image-width="300"
              :image-height="300"
              :title="product.name"
              :link="product.url"
              :link-tag="''"
              :regular-price="product.regular_price"
              :special-price="product.special_price"
              :wishlist-icon="false"
              @click:is-added-to-cart="alert('@click:is-added-to-cart')"
              @click:wishlist="alert('@click:wishlist')"
              @click:reviews="alert('@click:reviews')"
            />
          </el-col>
        </el-row>
      </el-col>
    </el-row>
    <el-row class="hideOnDesktop">
      <el-row>
        <el-col :span="24" style="display: grid; justify-content: center">
          <SfNotification
            v-if="showError"
            visible
            message="An unknown error has occured. Please reflesh the page."
            type="danger"
          />
        </el-col>
        <el-col :span="12" style="margin-bottom: 0.5rem">
          <el-button
            plain
            icon="el-icon-receiving"
            @click="drawer = true"
            style="min-width: 100%"
          >
            Filter
          </el-button>
        </el-col>
        <el-col :span="12">
          <el-select
            v-model="sorting.current"
            @change="selectSorting"
            placeholder="Activity zone"
          >
            <el-option
              v-for="(val, key) in sorting.list"
              :key="'sortKeyMobile-' + key"
              :label="val"
              :value="key"
            >
            </el-option>
          </el-select>
        </el-col>
      </el-row>
      <el-row>
        <el-col
          :span="12"
          v-for="product in products"
          :key="'col-' + product.id"
          class="productColumn"
        >
          <SfProductCard
            :image="product.thumbnail"
            :image-width="300"
            :image-height="300"
            :title="product.name"
            :link="product.url"
            :link-tag="''"
            :regular-price="product.regular_price"
            :special-price="product.special_price"
            :wishlist-icon="false"
            @click:is-added-to-cart="alert('@click:is-added-to-cart')"
            @click:wishlist="alert('@click:wishlist')"
            @click:reviews="alert('@click:reviews')"
          />
        </el-col>
      </el-row>
      <el-drawer
        v-if="showFilters"
        title="FILTER BY"
        :visible.sync="drawer"
        :direction="'btt'"
        :size="'100%'"
      >
        <template v-for="(filter, f_id) in filters">
          <p :key="'mobileFilterNameID-' + f_id" style="margin-left: 5%; width: 90%">
            {{ filter.name }}
          </p>
          <p
            v-if="defaultFilterSpecs[f_id].id"
            :key="'mobileFilterID-' + f_id"
            style="margin-left: 10%; width: 80%"
          >
            {{ defaultFilterSpecs[f_id].name }}
            <el-button
              type="danger"
              icon="el-icon-delete"
              circle
              @click="
                clickFilter({
                  action: 'remove',
                  spec_id: defaultFilterSpecs[f_id].id,
                })
              "
            ></el-button>
          </p>
          <SfSelect
            v-else
            :key="'mobileFilterSelectID-' + f_id"
            class="sf-select--underlined"
            style="margin-left: 5%; width: 90%"
            :placeholder="'Select'"
            @input="
              clickFilter({
                action: 'add',
                spec_id: $event,
              })
            "
          >
            <SfSelectOption
              v-for="(s_name, s_id) in filter.specifications"
              :key="'specID-' + s_id"
              :value="s_id"
            >
              <SfProductOption :label="s_name" />
            </SfSelectOption>
          </SfSelect>
        </template>
      </el-drawer>
    </el-row>
    <el-col :span="24" v-if="showPagination" class="paginationColumn">
      <el-pagination
        layout="prev, pager, next"
        :total="pagination.total"
        :page-size="pagination.pageSize"
        :current-page="pagination.current"
        @prev-click="changePageTo"
        @next-click="changePageTo"
        @current-change="changePageTo"
      >
      </el-pagination>
    </el-col>
  </div>
</template>

<script>
import {
  SfProductCard,
  SfNotification,
  SfSelect,
  SfProductOption,
} from "@storefront-ui/vue";
import Filters from "@/components/product/Filters.vue";
import { mapMutations } from "vuex";

export default {
  components: {
    SfNotification,
    SfProductCard,
    Filters,
    SfSelect,
    SfProductOption,
  },
  data() {
    return {
      showPagination: false,
      showFilters: false,
      showError: false,
      drawer: false,
      sorting: {
        current: "az",
        list: {
          az: "Name (A-Z)",
          za: "Name (Z-A)",
          19: "Price (Low > High)",
          91: "Price (High > Low)",
        },
      },
      pagination: {
        total: null,
        pageSize: 12,
      },
      products: {},
      filters: {},
      selectedSpecs: [],
      defaultSpecs: [], //came via url params
      defaultFilterSpecs: {}, //key val for mobile
      currentPage: 1,
    };
  },
  watch: {
    $route() {
      this.init();
    },
  },
  methods: {
    ...mapMutations(["SET_LOADING"]),
    selectSorting(key) {
      this.sorting.current = key;

      let query = new URLSearchParams(window.location.search);
      query.set("sort", this.sorting.current);

      this.pushState(query);
      this.getProducts({
        specs: this.selectedSpecs,
        p: this.currentPage,
        sort: this.sorting.current,
      });
    },
    init() {
      let self = this;
      let params = new URLSearchParams(window.location.search);
      let query = params.has("specs[]") ? { specs: params.getAll("specs[]") } : {};

      if (query.specs) {
        self.selectedSpecs = query.specs;
        self.defaultSpecs = query.specs;
      } else {
        self.selectedSpecs = [];
        self.defaultSpecs = [];
      }

      self.currentPage = params.has("p") ? parseInt(params.get("p")) : 1;
      self.sorting.current = params.has("sort") ? params.get("sort") : "az";

      query.p = self.currentPage;
      query.sort = self.sorting.current;

      self.getProducts(query);
    },
    changePageTo(p) {
      if (history.pushState) {
        let query = new URLSearchParams(window.location.search);
        query.set("p", p);

        this.pushState(query);
      }

      this.init();
    },
    updateUrlParams(params) {
      if (history.pushState) {
        let query = new URLSearchParams(window.location.search);
        query.set("p", params["p"]);

        query.delete("specs[]");
        for (let i in params["specs"]) {
          query.append("specs[]", params["specs"][i]);
        }

        this.pushState(query);
      }
    },
    getProducts(query) {
      let self = this;
      self.SET_LOADING(true);

      //get products
      window.QM.get("store", query)
        .then(({ data }) => {
          self.filters = data.results.filters;
          if (self.defaultSpecs) {
            //linkdə specs adlı parametrlər varsa onu key-> value kimi yığ
            for (let i in self.filters) {
              for (let k in self.filters[i].specifications) {
                if (self.defaultSpecs.includes(k) || self.selectedSpecs.includes(k)) {
                  self.defaultFilterSpecs[i] = {
                    id: k,
                    name: self.filters[i].specifications[k],
                  };
                  continue;
                } else {
                  self.defaultFilterSpecs[i] = { id: null, name: null };
                }
              }
            }
          }
          self.showFilters = true;

          self.products = data.results.products.map((p) => {
            if (p.old_price) {
              p.special_price = p.price;
              p.regular_price = p.old_price;
            } else {
              p.special_price = "";
              p.regular_price = p.price;
            }

            p.url = "/product/" + p.id;

            return p;
          });

          self.pagination.pageSize = data.items_per_page;
          self.pagination.total = data.count;
          self.pagination.current = query.p;

          self.showPagination = true;
          self.showError = false;
          self.SET_LOADING(false);
        })
        .catch((err) => {
          self.SET_LOADING(false);
          if (err?.response) {
            if (err.response.status == 404) self.$router.push({ name: "not-found" });
            else self.showError = true;
          }
        });
    },
    clickFilter({ action, spec_id }) {
      if (action == "add") {
        this.selectedSpecs.push(spec_id);
      } else {
        this.selectedSpecs = this.selectedSpecs.filter((s) => s != spec_id);
        this.defaultSpecs = this.defaultSpecs.filter((s) => s != spec_id);
      }

      this.drawer = false; //for mobile
      this.currentPage = 1;
      this.updateUrlParams({
        p: this.currentPage,
        specs: this.selectedSpecs,
      });
      this.getProducts({
        specs: this.selectedSpecs,
        p: this.currentPage,
        sort: this.sorting.current,
      });
    },
    pushState(query) {
      if (history.pushState) {
        let newUrl =
          window.location.protocol +
          "//" +
          window.location.host +
          window.location.pathname +
          "?" +
          query.toString();
        window.history.pushState({ path: newUrl }, "", newUrl);
      }
    },
  },
  mounted() {
    this.init();
  },
};
</script>

<style scoped>
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
  font-size: 16px;
}
.el-icon-arrow-down {
  font-size: 12px;
}

.productColumn {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.paginationColumn {
  display: grid;
  justify-content: center;
}

.mainRowDesktop {
  margin-top: 3rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
</style>
