<template>
  <el-row>
    <el-row class="hideOnDesktop">
      <el-col :span="24">
        <SfHeading
            :level="3"
            :title="'Your Cart'"
            :description="'You have total '+basketCount+' items in your cart'"
        />
      </el-col>
      <el-col :span="24">
        <SfProductCardHorizontal
            v-for="product in products"
            :key="'cartItemMobile-' + product.id"
            style="margin-bottom: 0.5rem"
            :image="product.cover_image"
            :title="product.name"
            :regular-price="product.old_price ? product.old_price : product.price"
            :special-price="product.old_price ? product.price : product.old_price"
            :wishlist-icon="'cross'"
            :link="{name:'product',params: {id:product.id}}"
            @click:wishlist="removeItem(product.id)"
        >
          <template #configuration>
            <div
                style="
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
              "
            >
              <SfQuantitySelector v-model="product.quantity" aria-label="Quantity"/>
            </div>
          </template>
        </SfProductCardHorizontal>
      </el-col>
      <el-col :span="24" class="basketCheckoutArea">
        <SfCharacteristic :title="'Free shipping'" :icon="'shipping'"/>
        <span> Total price: ${{ totalPrice }} </span>
        <SfButton style="margin-top: 0.5rem"> GO TO CHECKOUT</SfButton>
      </el-col>
    </el-row>
    <el-row class="hideOnMobile mainRowDesktop">
      <template v-if="!waitForResponse">
        <el-col :span="18">
          <SfProductCardHorizontal
              v-for="product in products"
              :key="'cartItemDesktop-' + product.id"
              class="cartItemDesktop"
              :image="product.cover_image"
              :title="product.name"
              :description="product.description"
              :regular-price="product.old_price ? product.old_price : product.price"
              :special-price="product.old_price ? product.price : product.old_price"
              :add-to-cart-disabled="true"
              :link="{name:'product',params: {id:product.id}}"
          >
            <template #configuration>
              <SfQuantitySelector v-model="product.quantity" @input="changeQuantity(product.id, product.quantity)"
                                  aria-label="Quantity"/>
            </template>
            <template #actions>
              <span
                  style="font-size: 0.8125rem; font-weight: 400; color: #767676"
              >
                Free shipping
              </span>
            </template>
            <template #add-to-cart>
              <span class="removeButton" @click="removeItem(product.id)"> Remove </span>
            </template>
          </SfProductCardHorizontal>
        </el-col>
        <el-col :span="6">
          <el-row>
            <el-col :span="24">
              <div class="cartStickyArea">
                <SfCharacteristic :title="'Free shipping'" :icon="'shipping'"/>
                <span style="margin: 1rem 0 1rem 0"> Total price: ${{ totalPrice }} </span>
                <SfButton style="margin-top: 0.5rem"> GO TO CHECKOUT</SfButton>
              </div>
            </el-col>
          </el-row>
        </el-col>
      </template>
    </el-row>
  </el-row>
</template>

<script>
import {
  SfProductCardHorizontal,
  SfQuantitySelector,
  SfHeading,
  SfCharacteristic,
  SfButton,
} from "@storefront-ui/vue";
import {mapMutations, mapActions, mapGetters} from "vuex";

export default {
  components: {
    SfProductCardHorizontal,
    SfQuantitySelector,
    SfHeading,
    SfCharacteristic,
    SfButton,
  },
  data() {
    return {
      waitForResponse: true,
      products: [],
    };
  },
  computed: {
    ...mapGetters(['basket', 'basketCount']),
    totalPrice() {
      let reducer = (accumulator, p) => accumulator + parseFloat(p.price.replace('$', ''));
      return this.products.reduce(reducer, 0);
    }
  },
  methods: {
    ...mapMutations(["SET_LOADING"]),
    ...mapActions(["updateBasketQuantity", "removeFromBasket"]),
    removeItem(id) {
      this.removeFromBasket(id);
      this.products = this.products.filter(p => p.id != id);

      if (this.products.length == 0) {
        this.$router.push({name: "home"});
      }
    },
    changeQuantity(id, qty) {
      this.updateBasketQuantity({id, qty});
    }
  },
  mounted() {
    if (this.basket == null || this.basketCount == 0) {
      this.$router.push({name: "not-found"});
      return;
    }

    let self = this;
    let responses = 0;
    let requests = Object.keys(this.basket).length;

    self.SET_LOADING(true);

    for (let id in self.basket) {
      window.QM.get({name: "product-detail", param: id}).then(({data}) => {
        responses += 1;

        data.id = id;
        data.quantity = self.basket[id];

        let cover = data.images.find((i) => i.is_cover);
        data.cover_image = cover != undefined ? cover.path : data.images[0].path;


        self.products.push(data);

        if (responses == requests) {
          self.waitForResponse = false;
          self.SET_LOADING(false);
        }
      });
    }
  },
};
</script>

<style scoped>
.cartStickyArea {
  position: fixed;
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 1rem 0 1rem 0;
  width: 20%;
  margin-left: 1rem;
  background-color: #fff;
}

.cartItemDesktop {
  margin-bottom: 1rem;
}

.basketCheckoutArea {
  display: grid;
  justify-content: center;
  background-color: #fff;
  padding: 1rem 0 1rem 0;
}

.basketCheckoutArea span {
  display: grid;
  justify-content: center;
  margin: 0.5rem 0 0.5rem 0;
}

.sf-characteristic {
  justify-content: center;
}

.mainRowDesktop {
  margin-top: 1rem;
  padding-left: 7rem;
  padding-right: 7rem;
}

.removeButton {
  color: #1200ee;
  text-decoration: underline;
  cursor: pointer;
}
</style>
<style>
.cartItemDesktop .sf-product-card-horizontal__details {
  max-width: 85%;
}
</style>