<template>
  <el-row>
    <el-row v-if="!waitForResponse && wishListCount > 0">
      <el-col :span="24">
        <SfHeading
            :level="3"
            :title="'Your favorite items'"
            :description="'You have total '+wishListCount+' items in your collection'"
        />
      </el-col>
      <el-col :span="24">
        <SfProductCardHorizontal
            v-for="p in products"
            :key="'cartItemMobile-' + p.id"
            style="margin-bottom: 0.5rem"
            :image="p.cover_image"
            :title="p.name"
            :description="p.description"
            :regular-price="p.old_price ? p.old_price : p.price"
            :special-price="p.old_price ? p.price : p.old_price"
            :add-to-cart-disabled="true"
            :wishlist-icon="'cross'"
            :link="{name:'product',params: {id:p.id}}"
            @click:wishlist="removeItem(p.id)"
        >
          <template #configuration>
            <div
                style="
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
              "
                class="hideOnDesktop text-secondary--variant"
            >
              {{ p.description }}
            </div>
          </template>
          <template #add-to-cart>
              <span class="removeButton" @click="removeItem(p.id)"> Remove </span>
          </template>
        </SfProductCardHorizontal>
      </el-col>
    </el-row>
    <el-row v-else>
      <h1 class="hideOnMobile" style="text-align: center">You don't have any item on your wishlist.</h1>
      <h4 class="hideOnDesktop" style="text-align: center">You don't have any item on your wishlist.</h4>
    </el-row>
  </el-row>
</template>

<script>
import {SfProductCardHorizontal, SfHeading} from "@storefront-ui/vue";
import {mapGetters, mapMutations, mapActions} from "vuex";

export default {
  components: {
    SfProductCardHorizontal,
    SfHeading,
  },
  data() {
    return {
      waitForResponse: true,
      products: []
    };
  },
  computed: {
    ...mapGetters(["wishList", "wishListCount"]),
  },
  methods: {
    ...mapMutations(["SET_LOADING"]),
    ...mapActions(["removeItemWishList"]),
    removeItem(id) {
      this.removeItemWishList(id);

      this.products = this.products.filter(p => p.id != id);

      if (this.products.length == 0) {
        this.$router.push({name: "home"});
      }
    },
  },
  mounted() {
    if (this.wishListCount == 0) return;

    let self = this;
    let responses = 0;
    let requests = self.wishListCount;

    self.SET_LOADING(true);

    for (let id of this.wishList) {
      window.QM.get({name: "product-detail", param: id}).then(({data}) => {
        responses += 1;

        data.id = id;

        let cover = data.images.find((i) => i.is_cover);
        data.cover_image = cover != undefined ? cover.path : data.images[0].path;

        self.products.push(data);

        if (responses == requests) {
          self.waitForResponse = false;
          self.SET_LOADING(false);
        }

      });
    }
  },
};
</script>

<style scoped>
.removeButton {
  color: #1200ee;
  text-decoration: underline;
  cursor: pointer;
}
</style>
