<template>
  <el-row>
    <el-col :span="24">
      <div id="men-women" class="hideOnMobile">
        <div>
          <div>
            <router-link :to="'/browse/men?specs[]=4'"> Men </router-link>
          </div>
          <div>
            <router-link :to="'/browse/women?specs[]=5'"> Women </router-link>
          </div>
        </div>
      </div>
      <el-col :span="24" class="hideOnDesktop">
        <router-link :to="'/browse/men?specs[]=4'" style="text-decoration:none;">
          <el-image
            :src="require('@/assets/men.jpg')"
            lazy
          >
          </el-image>
        </router-link>
      </el-col>
      <el-col :span="24" class="hideOnDesktop">
        <router-link :to="'/browse/women?specs[]=5'" style="text-decoration:none;">
          <el-image
            :src="require('@/assets/women.jpg')"
            lazy
          >
          </el-image>
        </router-link>
      </el-col>
    </el-col>
    <el-col :span="24">
      <el-row style="margin-top: 5rem">
        <SfCarousel :settings="{ perView: 5 }">
          <SfCarouselItem v-for="(item, i) in 12" :key="'carouselItemID-' + i">
            <SfProductCard
              :image="image"
              :image-width="imageWidth"
              :image-height="imageHeight"
              :badge-label="badgeLabel"
              :badge-color="badgeColor"
              :title="title"
              :link="link"
              :link-tag="linkTag"
              :score-rating="scoreRating"
              :max-rating="maxRating"
              :reviews-count="reviewsCount"
              :regular-price="regularPrice"
              :special-price="specialPrice"
              :wishlist-icon="wishlistIcon"
              :is-on-wishlist-icon="isOnWishlistIcon"
              :is-on-wishlist="isOnWishlist"
              :show-add-to-cart-button="showAddToCartButton"
              :add-to-cart-disabled="addToCartDisabled"
              :is-added-to-cart="isAddedToCart"
              @click:is-added-to-cart="alert('@click:is-added-to-cart')"
              @click:wishlist="alert('@click:wishlist')"
              @click:reviews="alert('@click:reviews')"
            />
          </SfCarouselItem>
        </SfCarousel>
      </el-row>
    </el-col>
  </el-row>
</template>

<script>
import { SfCarousel, SfProductCard } from "@storefront-ui/vue";
export default {
  components: {
    SfCarousel,
    SfProductCard,
  },
  data() {
    return {
      image: {
        mobile: {
          url:
            "https://storybook.storefrontui.io/assets/storybook/Home/productB.jpg",
        },
        desktop: {
          url:
            "https://storybook.storefrontui.io/assets/storybook/Home/productB.jpg",
        },
      },
      imageWidth: 216,
      imageHeight: 326,
      badgeLabel: "",
      badgeColor: "color-primary",
      title: "Cotton Sweater",
      link: "",
      linkTag: "",
      scoreRating: 4,
      maxRating: 5,
      reviewsCount: 7,
      regularPrice: "$10.99",
      specialPrice: "",
      wishlistIcon: "heart",
      isOnWishlistIcon: "heart_fill",
      isOnWishlist: false,
      showAddToCartButton: true,
      isAddedToCart: false,
      addToCartDisabled: false,
    };
  },
};
</script>

<style scoped>
#men-women {
  height: 500px;
  background-image: url(//cdn.shopify.com/s/files/1/1241/4530/files/Slider_hombre_mujer.jpg?v=1603352322);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}

#men-women > div {
  margin-bottom: 3rem;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
}

#men-women > div div {
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 21px;
  border-bottom: 2px solid white;
  width: max-content;
}

#men-women a {
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
  background-color: transparent;
}
</style>
