<template>
  <el-row>
    <el-col :md="8" style="opacity: 0">.</el-col>
    <el-col :sm="24" :md="8">
      <div class="loginForm">
        <el-form :model="loginForm">
          <el-form-item
            label="Email"
            prop="Email"
            :required="$v.loginForm.email.$error"
          >
            <el-input
              type="email"
              autocomplete="on"
              v-model="loginForm.email"
              @input="$v.loginForm.email.$touch()"
              @blur="$v.loginForm.email.$touch()"
            ></el-input>
          </el-form-item>
          <el-form-item
            label="Password"
            prop="Password"
            :required="$v.loginForm.password.$error"
          >
            <el-input
              type="password"
              autocomplete="off"
              v-model="loginForm.password"
              @input="$v.loginForm.password.$touch()"
              @blur="$v.loginForm.password.$touch()"
            ></el-input>
          </el-form-item>
        </el-form>
        <div style="display: flex">
          <SfButton @click="login"> Login </SfButton>
          <div style="width: 100%">
            <span style="float: right">
              <router-link :to="{ name: 'forgot-password' }">
                Forgot password? </router-link
              ><br />
              <router-link :to="{ name: 'signup' }">
                Create an account
              </router-link>
            </span>
          </div>
        </div>
      </div>
    </el-col>
  </el-row>
</template>

<script>
import { SfButton } from "@storefront-ui/vue";
import { required, email } from "vuelidate/lib/validators";
import { mapMutations, mapGetters } from "vuex";

export default {
  components: {
    SfButton,
  },
  data() {
    return {
      loginForm: {
        email: "",
        password: "",
      },
    };
  },
  computed: {
    ...mapGetters(["isUserAnonymous", "waitMe"]),
  },
  validations: {
    loginForm: {
      email: {
        required,
        email,
      },
      password: {
        required,
      },
    },
  },
  methods: {
    ...mapMutations(["SET_LOADING"]),
    login() {
      let vue = this;
      vue.$v.loginForm.$touch();
      if (vue.$v.loginForm.$invalid) return;

      vue.SET_LOADING(true);
      window.QM.post("login", vue.loginForm)
        .then((res) => {
          vue.$store.dispatch("login", res.data);
          vue.SET_LOADING(false);
          vue.$router.push({ name: "home" });
        })
        .catch((res) => {
          vue.$message({
            message: res.response.data["non_field_errors"][0],
            type: "error",
          });
          vue.SET_LOADING(false);
        });
    },
    checkUser() {
      if (!this.isUserAnonymous) {
        this.$router.push({ name: "home" });
      }
    }
  },
  mounted() {
    if (!this.waitMe) {
      this.checkUser();
    }
    else {
      // waiting for response for token
      window.EventBus.$on('WAIT_ME', state => {
        if (!state) {
          this.checkUser();
        }
      });
    }
  },
};
</script>

<style scoped>
.loginForm {
  margin: 1.5rem 0 1.5rem 0;
  padding: 1.5rem;
  background-color: #fff;
}
</style>