<template>
  <el-row>
    <el-col :span="20" :offset="2" class="productInfoPanel hideOnMobile">
      <el-row>
        <el-col :span="24">
          <SfNotification
            v-if="showError"
            style="margin-bottom: 1rem"
            visible
            message="An unknown error has occured. Please reflesh the page."
            type="danger"
          />
        </el-col>
        <el-col :span="8" v-if="product.images">
          <el-col :span="24" style="display: grid; justify-content: center">
            <el-image :src="product.images[carouselMainImageIndex].path" />
          </el-col>
          <el-col :span="24">
            <el-carousel
              :autoplay="false"
              type="card"
              class="productImagesCarousel"
              @change="triggerCarousel"
            >
              <el-carousel-item
                v-for="(image, key) in product.images"
                :key="'imageDesktop' + key"
              >
                <el-image :src="image.path" :fit="'fill'"></el-image>
              </el-carousel-item>
            </el-carousel>
          </el-col>
        </el-col>
        <el-col :span="16" style="padding-left: 1.5rem">
          <h1>{{ product.name }}</h1>
          <SfPrice
            class="customProductPrice"
            :regular="product.old_price"
            :special="product.price"
          />
          <SfCharacteristic
            style="margin-top: 3rem"
            :title="'Free shipping'"
            :icon="'shipping'"
          />

          <div style="margin-top: 3rem; color: #8c7582">
            {{ product.description }}
          </div>
          <div style="display: flex; margin-top: 3rem">
            <SfQuantitySelector v-model="quantity" aria-label="Quantity" />
            <SfButton style="margin-left: 1rem" @click="addToBasket({'id':$route.params.id, 'count':quantity})"> ADD TO CART </SfButton>
            <SfButton class="color-danger" style="margin-left: 1rem" @click="addToWishList($route.params.id)">
              ADD TO FAVORITES
            </SfButton>
          </div>
          <Tabs style="margin-top: 2rem" v-if="specifications" :specifications="specifications" />
        </el-col>
      </el-row>
    </el-col>
    <el-col
      :span="24"
      class="productInfoPanel hideOnDesktop"
      style="padding: 0 10px 0 10px"
    >
      <div style="display: grid; justify-content: center; margin-top: 1rem">
        <SfNotification
          v-if="showError"
          style="margin-bottom: 1rem"
          visible
          message="An unknown error has occured. Please reflesh the page."
          type="danger"
        />
      </div>
      <el-carousel
        v-if="product.images"
        :interval="4000"
        @change="triggerCarousel"
        arrow="always"
      >
        <el-carousel-item
          v-for="(image, i) in product.images"
          :key="'imageMobile' + i"
        >
          <el-image :src="image.path" />
        </el-carousel-item>
      </el-carousel>

      <h2>{{ product.name }}</h2>

      <SfPrice
        class="customProductPrice"
        :regular="product.old_price"
        :special="product.price"
      />

      <SfCharacteristic
        style="margin-top: 1rem"
        :title="'Free shipping'"
        :icon="'shipping'"
      />

      <div style="margin-top: 1rem; color: #8c7582">
        {{ product.description }}
      </div>

      <div style="margin-top: 1rem">
        <el-input-number v-model="quantity" :min="1"></el-input-number>
        <el-button-group style="float: right">
          <el-button type="primary" icon="el-icon-shopping-cart-2" @click="addToBasket({'id':$route.params.id, 'count':quantity})"> </el-button>
          <el-button type="danger" icon="el-icon-star-off" @click="addToWishList($route.params.id)"> </el-button>
        </el-button-group>
      </div>

      <Tabs
        v-if="specifications"
        style="margin-top: 2rem"
        :open-tab="0"
        :specifications="specifications"
      />
    </el-col>
  </el-row>
</template>

<script>
import {
  SfPrice,
  SfCharacteristic,
  SfQuantitySelector,
  SfButton,
  SfNotification,
} from "@storefront-ui/vue";
import Tabs from "@/components/product/Tabs.vue";
import { mapMutations, mapActions } from "vuex";

export default {
  name: "Product",
  components: {
    SfPrice,
    SfCharacteristic,
    SfQuantitySelector,
    SfButton,
    Tabs,
    SfNotification,
  },
  data() {
    return {
      showError: false,
      product: {},
      carouselMainImageIndex: 0,
      quantity: 1,
      specifications: [],
    };
  },
  methods: {
    ...mapMutations(["SET_LOADING"]),
    ...mapActions(["addToBasket", "addToWishList"]),
    triggerCarousel(i) {
      this.carouselMainImageIndex = i;
    },
  },
  mounted() {
    let self = this;
    self.SET_LOADING(true);

    window.QM.get({ name: "product-detail", param: this.$route.params.id })
      .then(({ data }) => {
        self.product = data;
        self.specifications = data.specifications.map((s) => {
          return {
            filter: s.filter_name,
            item: s.name,
          };
        });

        self.SET_LOADING(false);
      })
      .catch((err) => {
        self.SET_LOADING(false);
        if (err?.response) {
          if (err.response.status == 404)
            self.$router.push({ name: "not-found" });
          else self.showError = true;
        }
      });
  },
};
</script>

<style scoped>
.productInfoPanel {
  margin-top: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

.customProductPrice >>> * {
  font-size: x-large;
}
</style>